@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background:#56baed;
}
body{
  background-image: url(site.png);    
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #010113;
  height: 100vh;
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

.image {                                          
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 50px; 
}

.image img {
  width: 500px; 
  height: auto;
}
.hidden{
  display: none;
}

.select-box, .play-board, .result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.select-box{
  position: absolute;
  top: 60%; 
  left: 50%;
  background: rgba(255, 255, 255, 0.226);  
  padding: 20px 25px 90px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}
.select-box.hide{
  opacity: 0;
  pointer-events: none;
}
.select-box header{            
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}
.select-box .title{           
  font-size: 22px;  
  color:#fff;
  text-align: center;
  margin: 30px 0;
}
.select-box .options{         
  display: flex;
  width: 100%;
}

.options button.playerX{           
  margin-right: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: linear-gradient(to right, #460507, #bd0d0d);;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.options button.playerO{
  margin-left: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: linear-gradient(to right, #050335, #2220cf);
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.options button.playerX:hover{             
  transform: scale(0.96);
  background: #d32a2a;
}

.options button.playerO:hover{              
  transform: scale(0.96);
  background: #3043ec;
}



.play-board{
  position: absolute;
  top: 65%; 
  left: 50%;
  width: 40%; 
  height: 90%; 
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details{               
  padding: 7px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.226);
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.players span{
  position: relative;
  z-index: 2;
  color: #56baed;
  font-size: 20px;
  font-weight: 500;
  padding: 17px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #56baed;
}
.players span:first-child{
  color: #fff;
}
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background:linear-gradient(to right, #050335, #2220cf); 
  border-radius: 5px;
  transition: all 0.3s ease;
}

.players.active .slider{
  left: 50%;
}
.players.active span:first-child{
  color: #56baed;
}
.players.active span:nth-child(2){
  color: #fff;
}
.players.active .slider{
  left: 50%;
}
.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{          
  display: block;
  height: 150px;
  width: 40%;
  margin: 2px;
  color: #8d1818;
  font-size: 80px;
  font-weight: bold;
  line-height: 150px;
  text-align: center;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.226);
}


.play-area section span.o {
  color: #163a7c; 
}

.result-box{                    
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{              
  font-size: 30px;
  font-weight: 500;
  color:#fff;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.result-box .won-text p{
  font-weight: 600;
  margin: 0 5px;
 
}
.result-box .btn{
  width: 100%;                         
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn .replaybtn {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: linear-gradient(to right, #460507, #bd0d0d); 
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn .homebtn {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: linear-gradient(to right, #050335, #2220cf); 
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn .replaybtn:hover{             
  transform: scale(0.96);
  background: #d32a2a;
}

.btn .homebtn:hover{             
  transform: scale(0.96);
  background: #3043ec;
}


.footer {
  width: 100%;
  background-color: #00000071;
  border-top: 8px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}


.address,
.hotline,
.email {
flex-grow: 1;
letter-spacing: 1px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 15px;
color: #fff;
}
@media (max-width:768px)
{
.body{
  background:#009688;
     } 
}
